*, *::after {
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 24px;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(
      rgb(5, 1, 56),
      rgb(0, 0, 0)
    )
}

#timer {
    font-size: 69px;
    color: white;
    position: absolute;
    top: 0px;
    right: 100px;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}

#high-scores {
    font-size: 28px;
    color: white;
    position: absolute;
    top: 45px;
    left: 100px;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}

#title-screen {
    font-size: 28px;
    color: white;
    max-width: 768px;
    position: absolute;
    top: 110px;
    text-align: center;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}

#end-screen, #scoreboard {
    font-size: 28px;
    color: rgb(0, 0, 0);
    justify-content: center;
    align-content: center;
}

#scores {
    list-style-type: none;
}

a {
    font-size: 28px;
    color: white;
    top: 45px;
    left: 100px;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    flex-direction: column;
    text-decoration: none;  
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 20px 15px rgb(240, 2, 200);
    text-align: center;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    margin: 20px 0;
}

.button {
    background-color: rgb(5, 1, 56);
    border: none;
    border-radius: 20px;
    padding: 10px 10px;
    color: white;
    outline: none;
}

.start-button, .next-button, .finish-button, .submit-button, .reset-button, .restart-buttong {
    padding: 10px 50px;
}

.button:hover {
    box-shadow: 0 0 10px 7px rgb(240, 2, 200);
}

.controls {
    display: flex;
    justify-content: center;
    align-content: center;
}

.hide {
    display: none;

}